.layout {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #1f4037, #6bbf9c);
}

/* CONTENUTO PRINCIPALE */
.content {
  flex: 1;
  padding: 24px;
  margin-left: 88px; /* sidebar mobile */
  transition: margin-left 0.3s ease;
}

/* Desktop */
@media (min-width: 900px) {
  .content {
    margin-left: 260px; /* sidebar desktop */
  }
}
